fastapi
uvicorn[standard]
python-multipart
httpx

langchain
langchain-core
langchain-text-splitters
langchain-ollama
langchain-chroma
chromadb

pypdf
pymupdf
pillow
pytesseract

python-docx
python-pptx
openpyxl
groq
